<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1>Bringing communities together</h1>
    </div>
    <p>
        Looking at the Syrian refugees arriving in Germany we realized that the refugees, after suffering so much trauma, are being very skeptical about placing trust in local residents. This causes the interaction between the residents and immigrants (possibly future residents) to cease to bare minimum. This creates sub cultures within the cities that don't interact with each other which is bad for the cultural evolution of society and causes integration issues.
    </p>
  </div>
</template>
